a:hover
	text-decoration none !important

.fa-circle
	color #ed5753 !important
	
.btn-contacto
	border 1px solid color-naranja !important
	bg-rgba(color-black,0%)
	color color-naranja
	margin-top 2%
	&:hover 
		bg-rgba(color-naranja,100%)
		border 1px solid transparent !important
		color color-white !important
		
.btn-buscar
	border 1px solid color-black !important
	bg-rgba(color-black,30%)
	color color-black
	margin-top 2%
	&:hover 
		bg-rgba(#48a8ef,100%)
		border 1px solid transparent !important
		color color-white !important

.mt-5p
	margin-top 5%
	
.mt-6p
	margin-top 6%
		
.mt-7p
	margin-top 7%
	
.mt-10p
	margin-top 10%
	

header
	padding 1em 0em 
	bg-rgba(#000,80%)
	position fixed
	z-index 1030
	width 100%
	box-shadow 0px 1px 3px #000
	+below(435px)
		position inherit
	figure 
		img 
			max-width 100%
			height auto
			display block
		+below(768px)
			margin 0 auto
			text-align center
			img 
				margin 0 auto
	p 
		color color-white
		line-height 50px
		text-align right 
		margin-bottom 0px
		
		span 
			margin 0px 15px
			+below(768px)
				display block

		i 
			vertical-align middle 
			font-size 24px !important
			color color-white
			margin 0px 15px
			
		+below(768px)
			text-align center
			line-height 30px
			.small
				display none
				
.fill-caption
	absolute bottom 20% right 10%
	text-align right
	+below(768px)
		text-align center
		right 0
		left 0
	
	.entry-title, p 
		color color-white
	.entry-title
		font-family mavenpro
		font-weight bold 
		font-size 52px
	

.conocenos
	padding 2em 0em 
	text-align center 
	font-family mavenpro
	span 
		color #48a8ef
		font-weight 700

.checkin
	padding 2em 0em
	box-shadow -1px -2px 5px #000
	.form-control
		border-top 0px
		border-left 0px 
		border-right 0px 
		border-radius 0px 
		box-shadow none
		
		&:focus 
			border-top 0px
			border-left 0px 
			border-right 0px 
			box-shadow none
			border-bottom 1px solid #48a8ef
			
	.btn-lg
		padding 14px 35px
		
.Hsuite
	relative()
	&:after 
		content ''
		border-top 35px solid transparent	
		border-image url(../images/border-top.svg) 100
		absolute top 0 left 0 right 0
		z-index 730
		
	&:before 
		content ''
		border-bottom 35px solid transparent	
		border-image url(../images/border-bottom.svg) 100
		absolute bottom 0 left 0 right 0
		z-index 730
	.fill
		height 100vh
		+below(435px)
			height 50vh
	article
		padding 4em 5em
		+below(435px)
			padding 2em 2em
		h3 
			font-size 42px
		span 
			font-weight 600
			
		p 
			font-size 16px
			
.blue 
	color #48a8ef
	
.red 
	color #ed5753
	
.interes
	relative()
	padding 2em 0em
	border-bottom 10px solid #48a8ef
	
	h4 
		font-family mavenpro
		font-size 36px
		font-weight 600
		

	.time
		display block
		margin-top 1em
		.times
			bg-color(#ed5753)
			padding 0.9em 1em
			border-radius 50%
			color color-white
			font-weight 600
		.location
			font-size 12px
			padding-left 5px
			
	.name
		margin-top 0.7em
		text-align right
		span 
			font-weight 18px
			ttup()
			display block
			font-family fjalla
			border-bottom 1px solid #000
		ul 
			list-style none
			padding 0px 0px
			margin 0px 0px			
			li 
				display inline-block
				
.comollegar
	relative()
	padding 2em 0em
	h5 
		font-family mavenpro
		font-size 36px
		font-weight 600
		
	article
		padding-top 2em
		padding-bottom 3em
		
	h6 
		font-size 24px
		span 
			color #ed5753
			
	.mapa
		height 60vh
		bg-image(url(../images/mapa.jpg))
		bg-size(cover)
		bg-repeat(no-repeat)
		bg-position(center, center)
		
		.vt-middle
			height 60vh
			display table-cell
			vertical-align middle
			width 100vw
			text-shadow none
			text-align center
			
.experiencias
	relative()
	padding 4em 0em
	bg-color(#292929)
	&:before 
		content ''
		border-bottom 35px solid transparent	
		border-image url(../images/border-bottom.svg) 100
		absolute bottom 0 left 0 right 0
		z-index 730
	h1 
		color color-white
		text-align center 
		font-weight 300
		font-family mavenpro
		span 
			color #48a8ef
			
.exp-figure
	relative()
	figcaption 
		absolute bottom 0% left 0% right 0%
		padding-top 0.5em 
		padding-bottom 0.8em
		bg-rgba(#000, 80%)
		color color-white
		text-align right 
		padding-right 10px
		.names 
			font-weight 18px
			ttup()
			display block
			font-family fjalla
		
		ul 
			list-style none
			padding 0px 0px
			margin 0px 0px 
			li 
				display inline-block
				
.contactenos
	padding 4em 0em
	relative()
	bg-color(#f5f5f5)
	h5 
		font-family mavenpro
		font-size 36px
		font-weight 600